<style>
  .yandex-map {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .region-selector {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .format-selector {
    position: absolute;
    left: 10px;
    top: 60px;
  }

  .billboard-selector {
    position: absolute;
    left: 10px;
    top: 110px;
  }

  #objectInfo {
    display: none;
  }

  .cart-window {
    display: none;
    position: absolute;
  }

  .object-info-content {
    text-align: center;
  }

  div.ui-widget {
    font: small Open Sans, Arial, sans-serif;
  }

  .ui-dialog .ui-dialog-buttonpane {
    text-align: center;
  }
  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
  }

  .cart-button {
    position: absolute;
    right: 20px;
    top: 5px;
  }

  .form-group {
    width: 95%;
  }

  .col-form-label {
    text-align: right;
  }
</style>
{# Область вывода Yandex карты #}
<div id="billboardsMap" class="yandex-map">

</div>

{# Выбор региона #}
<select id="regionSelector" class="selectpicker region-selector" data-style="btn-primary" data-width="300px">
  {% for region in regions %}
    <option value="{{ region.id }}" {% if region.regionId == 1 %}selected{% endif %}>{{ region.regionName }}</option>
  {% endfor %}
</select>

{# Выбор категории щита #}
{# FIXME: Подключить русификатор bootstrap-select #}
<select id="priceListCategorySelector" class="selectpicker form-control format-selector"
        multiple title="Выберите форматы объектов" data-selected-text-format="count > 3"
        data-width="300px" data-style="btn-primary">
</select>

{# Выбор щита #}
<select id="billboardSelector" class="selectpicker billboard-selector" title="Поиск..." data-live-search="true"
        data-width="300px" data-style="btn-primary">
</select>

{# Кнопка открытия корзины #}
<button type="button" class="cart-button btn btn-primary float-right">
  <i class="fa" style="font-size:36px">&#xf07a;</i>
  <span class="cart-button-cnt badge badge-light"></span>
</button>

{# Свойства объекта #}
<div id="objectInfo" class="ui-widget-content">
  <div class="object-info-content"></div>
</div>

{# Корзина #}
<div id="cart" class="ui-widget-content cart-window" style="display: none;">
  <div id="cartContent" class="cart-content">
    <hr>

  </div>
</div>

{# Форма заказа товаров #}
<div id="orderDialog" class="ui-widget-content" style="display: none;">
  <form>
    <div class="form-group row">
      <label for="nameField" class="col-sm-5 col-form-label"><b>Как вас зовут?</b></label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="nameField" placeholder="Имя" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="companyField" class="col-sm-5 col-form-label"><b>Я представляю компанию:</b></label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="companyField" placeholder="n/a">
        <small id="companyHelp" class="form-text text-muted">не обязательно</small>
      </div>
    </div>

    <div class="form-group row">
      <label for="phoneField" class="col-sm-5 col-form-label"><b>Телефон:</b></label>
      <div class="col-sm-7">
        <input type="tel" class="form-control" id="phoneField" placeholder="+7 (123)456-78-90" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="emailField" class="col-sm-5 col-form-label"><b>E-mail:</b></label>
      <div class="col-sm-7">
        <input type="tel" class="form-control" id="emailField" placeholder="mail@mail.ru" required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-5 col-form-label"><b>Куда прислать ответ?</b></label>
      <div class="col-sm-7">
        <input type="checkbox" id="isEmailField">
        <label for="isEmailField" class="col-form-label">E-mail</label>
        <br>
        <input type="checkbox" id="isWhatsApp">
        <label for="isWhatsApp" class="col-form-label">WhatsApp</label>
        <br>
        <input type="checkbox" id="isTelegram">
        <label for="isTelegram" class="col-form-label">Telegram</label>
      </div>
    </div>
  </form>

  {# Сообщение об успещном заказе #}
  <div id="orderCompleted" class="ui-widget-content" style="display: none;">
    <p style="text-align: center;">Спасибо за обращение!<br>В ближайшее время с Вами свяжутся наши специалисты.</p>
  </div>
</div>

