{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {{ form_start(form) }}
  <div class="row fork-module-content">
    <div class="col-md-12">
      {{ form_row(form.name, {'attr': {'class': 'form-control name'}}) }}
      {{ form_row(form.categoryId, {'attr': {'class': 'form-control category_id'}}) }}
      <hr>

      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="addButton" type="submit" name="add" class="btn btn-primary">
            <span class="fa fa-plus-square"></span>{{ 'lbl.Add'|trans }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}


