{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}
{% endblock %}

{% block content %}
  {{ form_start(form) }}
    <div class="row fork-module-content">
      <div class="col-md-12">
        {{ form_row(form.name, {'attr': {'class': 'form-control name'}}) }}
        {{ form_row(form.regionId, {'attr': {'class': 'form-control region_id'}}) }}

        <hr>

        <div class="btn-toolbar">
          <div class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-danger" id="story-delete" data-toggle="modal" data-target="#confirmDelete">
              <span class="fa fa-trash-o"></span>
              {{ 'lbl.Delete'|trans|ucfirst }}
            </button>
          </div>

          <div class="btn-group pull-right" role="group">
            <button id="addButton" type="submit" name="add" class="btn btn-primary">
              <span class="fa fa-save"></span>{{ 'lbl.Save'|trans }}
            </button>
          </div>
        </div>
      </div>
    </div>
  {{ form_end(form) }}

  {{ form_start(deleteForm) }}
  {{ form_row(deleteForm._token) }}
  {{ form_row(deleteForm.id) }}
    <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDelete'|trans|format(name)|raw }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
            </button>
            <button type="submit" class="btn btn-danger">
              <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
            </button>
          </div>
        </div>
      </div>
    </div>
  {{ form_end(deleteForm) }}
{% endblock %}
