{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">
{#      {{ macro.buttonIcon(geturl('AddPriceList'), 'plus-square', 'lbl.Add'|trans|ucfirst) }}#}
      {{ macro.buttonIcon(geturl('GeneratePriceLists'), 'plus-square', 'lbl.GeneratePriceLists'|trans|ucfirst) }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="table-responsive">
        {% if priceListsGrid %}
          {{ priceListsGrid|raw }}
        {% else %}
          {{ 'msg.NoItems'|trans }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
