{% include "Core/Layout/Templates/Head.html.twig" %}

<body class="{{ LANGUAGE }}" itemscope itemtype="http://schema.org/WebPage">

{% block main %}
  <div class="row">
    {% for content in positions.main %}
      {% if content.html %}
        <div class="section-home font-size-large">
          {{ content.html|raw }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% for js in jsFiles %}
  <script src="{{ js.file }}"></script>
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>
</html>
